*.cfa filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.RAWMIPI filter=lfs diff=lfs merge=lfs -text
*.RAWMIPI10 filter=lfs diff=lfs merge=lfs -text
*.RAWMIPI12 filter=lfs diff=lfs merge=lfs -text
*.dng filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.plain16 filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.CR2 filter=lfs diff=lfs merge=lfs -text
*.NEF filter=lfs diff=lfs merge=lfs -text
*.RW2 filter=lfs diff=lfs merge=lfs -text
*.ARW filter=lfs diff=lfs merge=lfs -text
*.PEF filter=lfs diff=lfs merge=lfs -text
*.SRW filter=lfs diff=lfs merge=lfs -text
*.KDC filter=lfs diff=lfs merge=lfs -text
*.DCR filter=lfs diff=lfs merge=lfs -text
*.RAW filter=lfs diff=lfs merge=lfs -text
*.ORF filter=lfs diff=lfs merge=lfs -text
