exclude test/unit_test/__init__.py
exclude test/unit_test/test_channels.py
exclude test/unit_test/test_libraw.py
exclude test/unit_test/test_matrix.py
exclude test/unit_test/test_readers.py

exclude test/nrt/__init__.py
exclude test/nrt/conftest.py
exclude test/nrt/data_cases.py
exclude test/nrt/helpers.py
exclude test/nrt/test_exif.py
exclude test/nrt/test_image_io.py
exclude test/nrt/test_utils.py
exclude test/nrt/test_metadata.py
